{% load bootstrap4 %}
{% if event_name %}
<h3 data-id="{{ event_id }}">PAYMENT FOR {{event_name}}</h3>
<hr>
<p>
{% endif %}
<form  method="post" data-id="{{event_id}}" data-cost-url="{% url 'event:calc_cost' %}" id="booking-form" action="{% url 'event:register' event_id %}" enctype="multipart/form-data">
  {% csrf_token %}
{% bootstrap_form form %}
<div id="cost"></div>

<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<input type="submit" class="btn btn-primary" value="Checkout">

</form>
