{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
	{{ block.super }}
	<!-- ACCORDION -->
	{% if categories|length > 0 %}
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="heading-1">
					<h5 class="mb-0">
						<a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
							CATEGORY
						</a>
					</h5>
				</div>
				<div id="collapse-1" class="collapse" aria-labelledby="heading-1-1">
					{% for category in categories %}

						<div class="card-body">
							{% if category.event_set.all|length > 0 %}
							<a data-catid="{{ category.id }}" id="cat-accordion">{{ category.category_name|capfirst }}</a>
							{% endif %}
						</div>

					{% endfor %}
				</div>

			</div>
		</div>
	{% endif %}
	{% if event_types|length > 0 %}
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="heading-1">
					<h5 class="mb-0">
						<a role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="true" aria-controls="collapse-1">
							EVENT TYPE
						</a>
					</h5>
				</div>
				<div id="collapse-2" class="collapse" aria-labelledby="heading-1-1">
					{% for event in event_types %}

						<div class="card-body">
							{% if event.event_set.all|length > 0 %}
							<a data-evid="{{ event.id }}" id="ev-accordion">{{event.type_name|capfirst }}</a>
							{% endif %}
						</div>

					{% endfor %}
				</div>

			</div>
		</div>
	{% endif %}
	<!-- END ACCORDION -->

	<!--PEN CODE-->

	<div class="col-md-6" id="e-content">
	{% for event in events%}

	<div class="container" >
		<div class="blog-card">
			{% if event.event_image %}
			<div class="photo photo1"><img src="{{ event.event_image.url }}" class="img-responsive myImg" alt=""></div>
			{% else %}
			<div class="photo photo1"><img src="{% static 'images/no-event.jpg' %}" class="img-responsive myImg" alt=""></div>
			{% endif %}
			<ul class="details">
				<li class="author">{{event.event_owner}}</li>
				<li class="date">{{event.event_date}}</li>
				<li class="tags">
					<ul>
						<li>
							<a href="#">Learn</a>
						</li>
						<li>
							<a href="#">Code</a>
						</li>
						<li>
							<a href="#">HTML</a>
						</li>
						<li>
							<a href="#">CSS</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="description">
				<h1>{{event.event_title}}</h1>
				<h2>{{event.event_location}}</h2>
				<p class="summary">{{event.event_description}}</p>
				<a href="#" class="btn">Register For Event</a>
			</div>
		</div>
	</div>
{% empty %}
<div class="container">
	<div class="blog-card">

		<div class="description">
			<h1 class="card-body">NO CURRENT EVENTS AROUND YOU</h1>

		</div>
	</div>
</div>
{% endfor %}
</div>

	<!--END PEN CODE -->

{% endblock %}
