{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
	{{ block.super }}
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{{ message }}
		</div>
	{% endfor %}
	<!-- ACCORDION -->
	{% if categories|length > 0 %}
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="heading-1">
					<h5 class="mb-0">
						<a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
							CATEGORY
						</a>
					</h5>
				</div>
				<div id="collapse-1" class="collapse" aria-labelledby="heading-1-1">
					{% for category in categories %}

						<div class="card-body">

								<a href="" data-catid="{{ category.id }}" class="cat-accordion">{{ category.category_name|capfirst }}</a>

						</div>

					{% endfor %}
				</div>

			</div>
		</div>
	{% endif %}
	<div class="row">
		<div id="loader">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="lading"></div>
		</div>
	</div>
	{% if event_types|length > 0 %}
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="heading-1">
					<h5 class="mb-0">
						<a role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="true" aria-controls="collapse-1">
							EVENT TYPE
						</a>
					</h5>
				</div>
				<div id="collapse-2" class="collapse" aria-labelledby="heading-1-1">
					{% for event in event_types %}

						<div class="card-body">
								<a href="" data-evid="{{ event.id }}" class="ev-accordion">{{event.type_name|capfirst }}</a>
							</div>

					{% endfor %}
				</div>

			</div>
		</div>
	{% endif %}
	<!-- END ACCORDION -->

	<!--PEN CODE-->

	<div class="col-md-6" id="e-content">
		{% for event in events%}

			<div class="container">
				<div class="blog-card">
					{% if event.event_image %}
						<div class="photo photo1"><img src="{{ event.event_image.url }}" class="img-responsive myImg" alt=""></div>
					{% else %}
						<div class="photo photo1"><img src="{% static 'images/no-event.jpg' %}" class="img-responsive myImg" alt=""></div>
					{% endif %}
					<ul class="details">
						<li class="author">{{event.event_owner}}</li>
						<li class="date">{{event.event_date}}</li>
						<li class="tags">
							<ul>

							</ul>
						</li>
					</ul>
					<div class="description">
						<h1>{{event.event_title}}</h1>
						<h2>{{event.event_location}}</h2>
						<br class="summary">{{event.event_description}}<br>
						{{ event.get_event_status_display }}
						{% ifequal event.get_event_status_display "PAID" %}-- KES <span style="color:green;">{{event.event_charges}}</span>
						{% endifequal %}
						{% if user.is_authenticated %}
						<a type="button" id="trigger-payment-modal" data-href="{{ event.id }}" class="btn btn-success" data-toggle="modal" data-target="#paymentmodal">
							Register For Event
						</a>
						{% endif %}
					</div>
				</div>
			</div>
			<!-- PAYMENT MODAL  -->
			{% if user.is_authenticated %}
			<div class="modal fade" id="paymentmodal" tabindex="-1" role="dialog" aria-labelledby="editeventmodaltitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body" id="update-e">
			        <form  method="post" data-cost-url="{% url 'event:calc_cost' %}" id="booking-form" action="{% url 'event:register' event.id %}" enctype="multipart/form-data">
			        {% csrf_token %}
							<div id="cost"></div>
			      </div>
			      <div class="modal-footer">
			      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      <input type="submit" class="btn btn-primary" value="Proceed to Pay">
			      </div>
			      </form>
			    </div>
			  </div>
			</div>
			{% endif %}
			<!-- ENDMODAL -->
			{% empty %}
			<div class="container">
				<div class="blog-card">

					<div class="description">
						<h1 class="card-body">NO CURRENT EVENTS AROUND YOU</h1>

					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<!--END PEN CODE -->

{% endblock %}
