{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<input id="origin-input" class="controls" type="text"
	        placeholder="Enter an origin location">

	    <input id="destination-input" class="controls" type="text"
	        placeholder="Enter a destination location">

	    <div id="mode-selector" class="controls">
	      <input type="radio" name="type" id="changemode-walking" checked="checked">
	      <label for="changemode-walking">Walking</label>

	      <input type="radio" name="type" id="changemode-transit">
	      <label for="changemode-transit">Transit</label>

	      <input type="radio" name="type" id="changemode-driving">
	      <label for="changemode-driving">Driving</label>
	    </div>

	    <div id="map"></div>
	</div>


	<!--PEN CODE-->
	{% if events%}
	{% for event in events%}
	<div class="col-md-6">
		<div class="blog-card">
			<div class="photo photo1"></div>
			<ul class="details">
				<li class="author"><a href="#">{{event.event_owner}}</a></li>
				<li class="date">{{event.event_date}}</li>
				<li class="tags">
					<ul>
						<li><a href="#">Learn</a></li>
						<li><a href="#">Code</a></li>
						<li><a href="#">HTML</a></li>
						<li><a href="#">CSS</a></li>
					</ul>
				</li>
			</ul>
			<div class="description">
				<h1>{{event.title}}</h1>
				<h2>Opening a door to the future</h2>
				<p class="summary">{{event.event_description}}</p>
				<a href="#">Read More</a>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
</div>
<!--END PEN CODE-->


{% endblock %}

