
{% for receipt in data %}
<center id="invoice-POS">
   <center id="top">
     <div class="info">
       <h2>TICKET FOR {{ receipt.event.event_title}}</h2>--{{ receipt.id }}
     </div>
   </center>

   <div id="mid">
     <div class="info">
       <h2>DETAILS</h2>
       <p>
         <br>NAME: {{ receipt.profile.profile_owner.username }}</br>
          <br>IDENTIFICATION NUMBER: {{ receipt.profile_idf }}</br>
           <br>PHONE NUMBER  : {{ receipt.profile_phone }}</br>
       </p>
     </div>
   </div><!--End Invoice Mid-->

   <div id="bot">

         <div id="table">


           {% for number in receipt.eventticket_set.all %}
          <h1>TICKET NUMBER : {{ number.event_ticket_no }} </h1>
          {% endfor %}
         </div><!--End Table-->

         <div id="legalcopy">
           <p class="legal"><strong>Thank you for using sakaform!</strong>
           </p>
         </div>

       </div>
 </center>
 {% endfor %}
